@model EMEP.Models.Lista_Enfermedad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lista_Enfermedad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_EXPEDIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_EXPEDIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
