@model EMEP.Models.Paciente_Paciente_Asociado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paciente_Paciente_Asociado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datos_Paciente.tipo_sangre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datos_Paciente.tipo_sangre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente.cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.cedula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
