@model EMEP.Models.Enfermedad_Familiar

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<h2>Remover Enfermedad</h2>

<div>
    <h4>Enfermedad Familiar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.parentesco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parentesco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expediente.ID_PACIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expediente.ID_PACIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lista_Enfermedad.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lista_Enfermedad.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Desactivar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
