@model IEnumerable<EMEP.Models.Paciente_Asociado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPa.cshtml";
}

<h2>Lista Paciente asociados</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
       
       
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.estado_String)
        </th>
     
          
      
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
      
      
        <td>
            @Html.DisplayFor(modelItem => item.sexo)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.estado_String)
        </td>
        
       
        
        <td>
            @Html.DisplayFor(modelItem => item.ID_TIPO_USUARIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.correo }) |
            @Html.ActionLink("Details", "Details", new { id=item.correo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.correo })
        </td>
    </tr>
}

</table>
